modules = ["nodejs-20", "web", "bash"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve -s build"]
build = ["sh", "-c", "npm install && npm run build"]

[workflows]
runButton = "React Dev"

[[workflows.workflow]]
name = "React Dev"
author = 42017617
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
